<html>
	<head>
		<title><%- react %></title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<div id="content" react="<%- react %>" />
		<script src="bundle.js"></script>
	</body>
</html>